# In this notebook we add create lagged variables to our dataset

In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\malli\Documents\GitHub\Air-Quality-Prediction--A-Case-of-Indian-Cities\data\Cities Seperated\Delhi_data.csv")

# Now let's add the (t-1) lagged variables for the relevant columns: PM2.5, PM10, NOx, NH3, CO, SO2, O3, AQI.
columns_to_lag = ['PM2.5', 'PM10', 'NOx', 'NH3', 'CO', 'SO2', 'O3', 'AQI']

# Creating lagged columns
for col in columns_to_lag:
    df[f'{col}_lag1'] = df[col].shift(1)

In [2]:
df

,City,Date,PM2.5,PM10,NOx,NH3,CO,SO2,O3,AQI,AQI_Bucket,PM2.5_lag1,PM10_lag1,NOx_lag1,NH3_lag1,CO_lag1,SO2_lag1,O3_lag1,AQI_lag1
0,Delhi,2015-01-01,313.22,607.98,110.59,33.85,15.20,9.25,41.68,472.0,Severe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Delhi,2015-01-02,186.18,269.55,88.14,31.83,9.54,6.65,29.97,454.0,Severe,313.22,607.98,110.59,33.85,15.20,9.25,41.68,472.0
2,Delhi,2015-01-03,87.18,131.90,47.95,69.55,10.61,2.65,19.71,143.0,Moderate,186.18,269.55,88.14,31.83,9.54,6.65,29.97,454.0
3,Delhi,2015-01-04,151.84,241.84,48.62,130.36,11.54,4.63,25.36,319.0,Very Poor,87.18,131.90,47.95,69.55,10.61,2.65,19.71,143.0
4,Delhi,2015-01-05,146.60,219.13,38.25,122.88,9.20,3.33,23.20,325.0,Very Poor,151.84,241.84,48.62,130.36,11.54,4.63,25.36,319.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002,Delhi,2020-06-27,39.80,155.94,22.47,31.43,0.87,10.38,18.88,112.0,Moderate,50.01,112.08,21.75,32.64,1.01,11.66,24.82,104.0
2003,Delhi,2020-06-28,59.52,308.65,23.86,29.27,0.94,10.70,18.05,196.0,Moderate,39.80,155.94,22.47,31.43,0.87,10.38,18.88,112.0
2004,Delhi,2020-06-29,44.86,184.12,21.94,27.97,0.88,11.58,26.61,233.0,Poor,59.52,308.65,23.86,29.27,0.94,10.70,18.05,196.0
2005,Delhi,2020-06-30,39.80,91.98,15.44,28.48,0.84,10.51,37.29,114.0,Moderate,44.86,184.12,21.94,27.97,0.88,11.58,26.61,233.0
2006,Delhi,2020-07-01,54.01,128.66,16.81,29.06,0.97,11.15,29.73,101.0,Moderate,39.80,91.98,15.44,28.48,0.84,10.51,37.29,114.0

# Note: After extracting this dataframe into a csv file, we applied bfill manuallly for the starting rows with missing data in Excel for all 5 cities